*{
    margin: 0 auto;
    font-family: Comic Sans MS;
}

main{
    width: 100%;
}

header{
    background-image: linear-gradient(0.25turn,#1b2139 30%,#fb66be 50%,#1b2139 70%);
    border: 1px solid rgba(254,1,154,.6);
    padding-top: 1%;
    padding-bottom: 1%;
}

#logo img{
    width: 65%;
}

#logo{
    width: 10%;
    display: flex;
    margin:0;
}

.InRow{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

#HeadH1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top:50%;
    transform:translateY(-50%);
    color: #ffff;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #ffff;
    cursor: pointer;
}


main{
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: url("image/wallhaven-z82evv.jpg");
    background-size:cover;
    background-position: center;
}

.ToDo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.ToDoRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

.inputTask{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:20px;
    border: 2px solid rgba(254,1,154,.3);
    margin-top: 15px;
    margin-bottom: 20px;
    width: 30%;
    backdrop-filter: blur(5px);

}


.inputs-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap:20px;
    width: 80%;
}


.inputs-text input{
    width: 80%;
    border:none;
    outline: none;
    background-color: transparent;
    border: 2px solid rgba(0,0,0,.3);
    border-radius: 20px;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.inputs-text input::placeholder{
    color:rgba(0,0,0,.5);
}

.inputTask span{
    font-size:40px;
    color:#ffff;
}

.plus-button{
    width:68%;
    margin-bottom: 20px;
}

#addTask{
    width:100%;
    background: none;
    border:none;
    border: 2px solid rgba(0,0,0,.3);
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
}

button:hover{
    cursor: pointer;
}

#addTask:active{
    background-color: rgba(255,255,255,.5);
}

.tasks{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 800px;
    margin: 0;
}

legend{
    font-size: 40px;
    color:#ffff;
}

.inProg{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0;
}

.done{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0;
}

.borders{
    border: 3px solid rgba(254,1,154,.6);
    border-radius: 7px;
    width: 100%;
    height: 100%;
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    backdrop-filter: blur(5px);
}


footer{
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: linear-gradient(0.25turn,#fb66be 5%,#1b2139 10% 30%,#fb66be 50%,#1b2139 70% 90%, #fb66be);
    border: 1px solid rgba(254,1,154,.6);
}

.dubna{
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
}

.InColumnFot{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
    gap:4px;
}

#pLogo{
    margin: 0;
    position: relative;
    z-index: 1;
}

#dubnaImg{
    width: 30%;
}

.taskRow{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.taskRow p{
    margin: 0;
    overflow-wrap: break-word;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 20px;
    color: #ffff;
    max-width: 290px;
}

.taskRow button{
    margin: 0;
    background: none;
    outline: none;
    border: none;
}

.icons{
    margin: 0;
    transform: translateY(30%);
}

.selected{
    background-color: red;
    opacity: 0.5;
}