*{
    margin: 0 auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main{
    width: 100%;
}

header{
        background-image: linear-gradient(rgb(61, 160, 127),aquamarine);
    padding-top: 1%;
    padding-bottom: 1%;
}

#logo img{
    width: 65%;
}

#logo{
    width: 10%;
    display: flex;
    margin:0;
}

.InRow{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
}

#HeadH1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top:50%;
    transform:translateY(-50%);
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: aquamarine;
    cursor: pointer;
}


main{
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: aquamarine;
}

.ToDo{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.ToDoRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
}

#plus img{
    width: 30px;
}

.inputTask{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:20px;
}

.tasks{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 800px;
    margin: 0;
}

.inProg{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0;
}

.done{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0;
}

.borders{
    border: 3px solid red;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    margin: 0;
}



footer{
    padding-top: 1%;
    padding-bottom: 1%;
    background-image: linear-gradient(aquamarine,rgb(39, 105, 83));
}

.dubna{
    display: flex;
    flex-direction: row;
    justify-content: start;
    position: relative;
}

.InColumnFot{
    display: flex;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 0;
    width: 100%;
    top:50%;
    transform: translateY(-50%);
    gap:4px;
}

#pLogo{
    margin: 0;
    position: relative;
    z-index: 1;
}

#dubnaImg{
    width: 30%;
}
