*{
    margin: 0 auto;
    width: 80%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background-color: aquamarine;
    padding-top: 1%;
    padding-bottom: 1%;
}

#logo img{
    width: 50%;
    border: 2px solid red;

}

#logo{
    display: flex;
    border: 2px solid red;
}

.InRow{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: start;
}

#HeadH1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}